.topBar{
    background-color:#ffffff;
    height:15%;
    width:100%;
    position:relative;
    border-style:solid;
    border-color:#cccccc;
    border-width:4px;

}
    
header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color:white;
    height:70%;
    width: 160px;
    text-align: center;
    float: left;
    position:absolute;
    bottom:2;   
    margin-left: 30%;
}
nav {
    float:left;
    height:15%;
    position:absolute;
    bottom:6;
    margin-left: 55%;
}
body{
    background-image: url('../images/beige-tiles.png');
}

h1, h2, h3, h4, h5, h6{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p, footer {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}

.workArea{
    height:70%;
    width:960px;
    background-color:white;
    margin:auto;
    border-style:solid;
    border-color:#dddddd;
    border-width:4px;
}

footer{
    position:fixed;
    bottom:0px;
    height:80px;
    width:100%;
    background-color: #666666;
    color: white;
    text-align: center;
    font-size: 12px;
    border-top: 8px solid #4aaaa5;
}
